doctype html
html(lang='en')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/css/flexboxgrid.css')

    script(type='text/javascript', src='/js/jquery-2.2.4.min.js')

    body
        div(class='paraimg1')

        div(class='videowrapper')
            img(src='/img/bd-guild-logo.png')

        //div(id='guild-name-banner', class='caption')
        //    span(class='border') &lt;Been Drinkin'&gt; - Horde Mal'Ganis-US
        
        header(id='guild-name-banner-sticky', style='opacity: 0; z-index: 100;')
            div(class='row middle-xs', style='height: 100%; padding-left: 40px; padding-right: 40px')
                div(class='col-xs-6 start-xs')
                    div(class='border-text') /who drinkin
                div(class='col-xs-6 end-xs', style='height: 100%;')
                        ul(class='ul-nav row middle-xs border-nav')
                            li(class='col-xs-4')
                                a(id='homelink', href='#') home
                            li(class='col-xs-4')
                                a(id='aboutlink', href='#') about
                            li(class='col-xs-4')
                                a(id='applylink', href='#') apply

        div(id='about', class='blurb')
            h3(style='text-align: center;') About Us
            hr
            p Been Drinkin' is a 20-man raiding guild on Mal'Ganis-US focused on mythic raiding on a light 2 days per week schedule.
            p A lot of us are old school ex-hardcore players who, if we didn’t have jobs, school, partners, children, etc. would probably be playing computer games 24/7. But since most of us actually have lives, we only raid twice a week.
            p Our raid times are:<br>&bull; Tuesday: 7:30 to 11:30 PM CST (Server)<br>&bull; Wednesday: 7:30 to 11:30 PM CST (Server)<br>&bull; Friday Alt-run: 5:30 to 8:30 PM CST (Server)<br>
            p Our raid times are casual, but we’re a hardcore raiding guild focused on efficiency, doing the max amount of (relevant) content in the least possible time spent. We always aim to clear all content on mythical difficulty. Many of us have been raiding together for years and a lot of us have killed every single boss in the game prior to major easymode nerfs.
            hr

        div(class='paraimg2')

        div(id='apply', class='blurb')
            h3(style='text-align: center;') Ready to Apply?
            hr
            div(class='row middle-xs')
                div(class='col-xs-12 col-sm-6')
                    h2(style='text-align: center;') Currently Recruiting:
                    div(class='col-xs-12 center-xs')
                        a(class='btn', href='https://goo.gl/forms/IB3NzMDZ2cJZa9uT2') apply here
                div(class='col-xs-12 col-sm-6')
                    ul(class='ul-class')
                        li
                            p
                                img(src='/img/rogue-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Combat Rogue
                        li
                            p
                                img(src='/img/warlock-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Demonology Warlock
                        li
                            p
                                img(src='/img/warrior-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Arms Warrior
                        li
                            p
                                img(src='/img/priest-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Shadow Priest
                        li
                            p
                                img(src='/img/druid-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Feral/Balance Druid
                        li
                            p
                                img(src='/img/paladin-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Holy Paladin
            hr

        div(class='paraimg3')

        div(id='footer', class='blurb', style='padding: 0; margin: 0;')
            hr
            p(style='text-align: center; padding: 0; margin: 0;') Copyright © 2016 Been Drinkin' | Developed by hopper
            hr

    script(type='text/javascript', src='/js/home.js')
