doctype html
html(lang='en')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/css/flexboxgrid.css')

    script(type='text/javascript', src='/js/jquery-2.2.4.min.js')

    body
        div(class='paraimg1')

        div(class='videowrapper')
            img(src='/img/bd-guild-logo.png')

        //div(id='guild-name-banner', class='caption')
        //    span(class='border') &lt;Been Drinkin'&gt; - Horde Mal'Ganis-US
        
        header(id='guild-name-banner-sticky', style='opacity: 0; z-index: 100;')
            div(class='row middle-xs', style='height: 100%; padding-left: 40px; padding-right: 40px')
                div(class='col-xs-6 start-xs')
                    div(class='border-text') /who drinkin
                div(class='col-xs-6 end-xs', style='height: 100%;')
                        ul(class='ul-nav row middle-xs end-xs border-nav')
                            li
                                a(id='homelink', href='#') home
                            li
                                a(id='aboutlink', href='#') about
                            li
                                a(id='applylink', href='#') apply

        div(id='about', class='blurb')
            h3(style='text-align: center;') About Us
            hr
            p Been Drinkin' is a 20-man raiding guild on Mal'Ganis-US focused on mythic raiding on a 2 days (8 hours) per week schedule.
            p Our raid times are:<br>&bull; Tuesday: 7:30 to 11:30 PM CST (Server)<br>&bull; Wednesday: 7:30 to 11:30 PM CST (Server)<br>&bull; Friday Alt-run: 5:30 to 8:30 PM CST (Server)<br>
            p The majority of our members are old school ex-hardcore players and real-life friends; most of whom have been raiding and gaming together for many years and have extensive raiding experience ranging back to Vanilla. In the past, we've raided 5 days a week over a 30 hour schedule and cleared end-game content prior to easy-mode nerfs across multiple expansions.
            p Contrary to that statement, we understand that people have lives; jobs, school, partners, children, etc. Mythic progression raiding <b>shouldn't require personal sacrifice outside of WoW.</b> It is this philosophy that Been Drinkin' was founded upon.
            p We're recruiting talented individuals that enjoy raiding, with the skill and the dedication to better themselves and the others around them; that hold our own beliefs and ideas themselves. We look forward to raiding, kicking ass, and having fun while doing it all.
            p We use Discord for team communication, stream all raid fights over Twitch, and prefer our whiskey neat.
            hr

        div(class='paraimg2')

        div(id='apply', class='blurb')
            h3(style='text-align: center;') Sound Good? Apply!
            hr
            div(class='row middle-xs')
                div(class='col-xs-12 col-sm-6')
                    h2(style='text-align: center;') Currently Recruiting:
                    div(class='apply-button-left col-xs-12 center-xs')
                        a(class='btn', href='https://goo.gl/forms/IB3NzMDZ2cJZa9uT2') apply here
                div(class='apply-list col-xs-3 col-sm-6')
                    ul(class='ul-class')
                        li
                            p
                                img(src='/img/warlock-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Demonology Warlock
                        li
                            p
                                img(src='/img/priest-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Shadow Priest
                        li
                            p
                                img(src='/img/druid-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Feral/Balance Druid
                        li
                            p
                                img(src='/img/paladin-class-icon.png', style='vertical-align: middle; padding-right: 10px;', width='16px', height='16px')
                                | Holy Paladin
                    div(class='apply-button-bottom col-xs-12 center-xs')
                        a(class='btn', href='https://goo.gl/forms/IB3NzMDZ2cJZa9uT2') apply here
            hr

        div(class='paraimg3')

        div(id='footer', class='blurb', style='padding: 0; margin: 0;')
            hr
            p(style='text-align: center; padding: 0; margin: 0;') Copyright © 2016 Been Drinkin' | Developed by hopper
            hr

    script(type='text/javascript', src='/js/home.js')
